<ion-header [translucent]="true" >
  <ion-toolbar>
    
      <ion-buttons slot="start" meniId="main menu">
        <ion-menu-button autoHide="false"></ion-menu-button> 
    
      </ion-buttons>
    <!-- <ion-title>
      Antojitos Mexicanos 
    </ion-title>
   -->

 


      
  </ion-toolbar>
</ion-header> 

<ion-content [fullscreen]="true">
  <ion-item detail="false"> 
  

  </ion-item>
    
  
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Antojitos Mexicanos</ion-title>
    </ion-toolbar>
  </ion-header> -->


